#app {
  --padding-main: 8px;
  margin: 0;
  padding: var(--padding-main);
}

#map { 
  margin: 0;
  height: calc(100vh - var(--padding-main)); 
  max-height: calc(100vh - (var(--padding-main) * 4)); 


  border: 1px solid black;
}


